server:
  port: 8081

spring:
  application:
    name: identity-service
  datasource:
    url: jdbc:mysql://localhost:3306/smartshop_users?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: Sql@3500  # <--- UPDATE THIS
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/