server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:

          # ---- Service Discovery Locator ----
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

          # ---- Routes ----

          routes:

            # -------- PRODUCT SERVICE -------
            - id: product-service
              uri: lb://PRODUCT-SERVICE
              predicates:
                - Path=/product-service/**
              filters:
                - AuthenticationFilter
                - StripPrefix=1

            # -------- IDENTITY SERVICE -------
            - id: identity-service
              uri: lb://IDENTITY-SERVICE
              predicates:
                - Path=/auth/**
              filters:
                - StripPrefix=1
            - id: order-service
              uri: lb://ORDER-SERVICE
              predicates:
                - Path=/order-service/**
              filters:
                - AuthenticationFilter
                - StripPrefix=1
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
